@media (max-width: 850px) {
    body {
        padding-top: 300px;
    }

    .left-side-container {
        margin-bottom: 50px;
    }

    .illustration {
        width: 320px;
        margin-left: 0;
        margin-top: -200px;
    }

    .pattern {
        top: -240px;
        left: 70px;
        height: 340px;
    }

    .box {
        height: 100px;
        left: 60px;
        top: -105px;
    }

    main {
        flex-direction: column;
    }

    .right-side-container {
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
}